{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <div class="card-header">
        <div class="display-1 text-center m-4">
            <img src="{% static 'images/Logo.png' %}" alt="logo1" class="logo1" >
    

        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, dignissimos adipisci architecto vitae cupiditate rem. Eligendi sunt, eaque ad iusto laborum veritatis ab, possimus accusantium, nisi odit dolorem aliquid. Magni?</p>
    </div>


{% endblock content %}